@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 97%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
    --primary: 0 0% 20%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 95%;
    --secondary-foreground: 0 0% 30%;
    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 50%;
    --accent: 0 0% 95%;
    --accent-foreground: 0 0% 30%;
    --destructive: 0 84.2% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 85%;
    --input: 0 0% 85%;
    --ring: 0 0% 20%;
    --chart-1: 0 0% 20%;
    --chart-2: 0 0% 40%;
    --chart-3: 0 0% 60%;
    --chart-4: 0 0% 80%;
    --chart-5: 0 0% 90%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 90%;
    --card: 0 0% 15%;
    --card-foreground: 0 0% 90%;
    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 90%;
    --primary: 0 0% 90%;
    --primary-foreground: 0 0% 10%;
    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 90%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 70%;
    --accent: 0 0% 20%;
    --accent-foreground: 0 0% 90%;
    --destructive: 0 62.8% 30%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 0 0% 90%;
    --chart-1: 0 0% 90%;
    --chart-2: 0 0% 70%;
    --chart-3: 0 0% 50%;
    --chart-4: 0 0% 30%;
    --chart-5: 0 0% 10%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Custom scroll bar */
::-webkit-scrollbar {
  @apply h-2 w-2 rounded-full bg-neutral-500/20;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-neutral-500/50;
}
/* End custom scroll bar */
